<a href="https://colab.research.google.com/github/skidbyandy/fintw/blob/main/%E3%80%8CStock_Fundamental_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/AI4Finance-Foundation/FinRL/blob/master/tutorials/1-Introduction/Stock_Fundamental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stock trading with fundamentals

* This notebook is based on the tutorial: https://towardsdatascience.com/finrl-for-quantitative-finance-tutorial-for-multiple-stock-trading-7b00763b7530

* This project is a result of the almuni-mentored research project at Columbia University, Application of Reinforcement Learning to Finance.
* For detailed explanation, please check out the Medium article: https://medium.com/@mariko.sawada1/automated-stock-trading-with-deep-reinforcement-learning-and-financial-data-a63286ccbe2b

In [2]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

# Content

* [1. Task Discription](#0)
* [2. Install Python packages](#1)
    * [2.1. Install Packages](#1.1)    
    * [2.2. A List of Python Packages](#1.2)
    * [2.3. Import Packages](#1.3)
    * [2.4. Create Folders](#1.4)
* [3. Download Data](#2)
* [4. Preprocess fundamental Data](#3)        
    * [4.1 Import financial data](#3.1)
    * [4.2 Specify items needed to calculate financial ratios](#3.2)
    * [4.3 Calculate financial ratios](#3.3)
    * [4.4 Deal with NAs and infinite values](#3.4)
    * [4.5 Merge stock price data and ratios into one dataframe](#3.5)
    * [4.6 Calculate market valuation ratios using daily stock price data](#3.6)
* [5. Build Environment](#4)  
    * [5.1. Training & Trade Data Split](#4.1)
    * [5.2. User-defined Environment](#4.2)   
    * [5.3. Initialize Environment](#4.3)    
* [6. Train DRL Agents](#5)  
* [7. Backtesting Performance](#6)  
    * [7.1. BackTestStats](#6.1)
    * [7.2. BackTestPlot](#6.2)   
    * [7.3. Baseline Stats](#6.3)   
    * [7.3. Compare to Stock Market Index](#6.4)

<a id='0'></a>
# Part 1. Task Description

We train a DRL agent for stock trading. The task is modeled as a Markov Decision Process (MDP), and the objective function is maximizing (expected) cumulative return.

We specify the state-action-reward as follows:

* **State s**: The state space represents an agent's perception of the market environment. Like a human trader analyzes various information, here our agent passively observes many features and learn by interacting with the market environment (usually by replaying historical data).

* **Action a**: The action space includes allowed actions that an agent can take at each state. For example, a ∈ {−1, 0, 1}, where −1, 0, 1 represent
selling, holding, and buying. When an action operates multiple shares, a ∈{−k, ..., −1, 0, 1, ..., k}, e.g.. "Buy
10 shares of AAPL" or "Sell 10 shares of AAPL" are 10 or −10, respectively

* **Reward function r(s, a, s′)**: Reward is an incentive for an agent to learn a better policy. For example, it can be the change of the portfolio value when taking a at state s and arriving at new state s',  i.e., r(s, a, s′) = v′ − v, where v′ and v represent the portfolio values at state s′ and s, respectively


**Market environment**: 30 consituent stocks of Dow Jones Industrial Average (DJIA) index. Accessed at the starting date of the testing period.


The data of the single stock that we will use for this case study is obtained from Yahoo Finance API. The data contains Open-High-Low-Close prices and volume.

In [ ]:
#@title load finmind
! pip install FinMind
import numpy as np
import pandas as pd
from FinMind import strategies
from FinMind.data import DataLoader
from FinMind.strategies.base import Strategy
from ta.momentum import StochasticOscillator

<a id='1'></a>
# Part 2. Load Python Packages

<a id='1.1'></a>
## 2.1. Install all the packages through FinRL library

In [ ]:
## install finrl library
!pip install git+https://github.com/AI4Finance-Foundation/FinRL.git


<a id='1.2'></a>
## 2.2. A List of Python Packages
* Yahoo Finance API
* pandas
* numpy
* matplotlib
* stockstats
* OpenAI gym
* stable-baselines
* pyfolio

<a id='1.3'></a>
## 2.3. Import Packages

In [5]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# matplotlib.use('Agg')
import datetime

%matplotlib inline
from finrl import config
from finrl import config_tickers
from finrl.meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.meta.preprocessor.preprocessors import FeatureEngineer, data_split
from finrl.meta.env_stock_trading.env_stocktrading import StockTradingEnv
from finrl.agents.stablebaselines3.models import DRLAgent
from finrl.plot import backtest_stats, backtest_plot, get_daily_return, get_baseline

from pprint import pprint

import sys
sys.path.append("../FinRL")

import itertools

/usr/local/lib/python3.7/dist-packages/pyfolio/pos.py:27: UserWarning: Module "zipline.assets" not found; multipliers will not be applied to position notionals.
  'Module "zipline.assets" not found; multipliers will not be applied'

<a id='1.4'></a>
## 2.4. Create Folders

In [6]:
import os
if not os.path.exists("./" + config.DATA_SAVE_DIR):
    os.makedirs("./" + config.DATA_SAVE_DIR)
if not os.path.exists("./" + config.TRAINED_MODEL_DIR):
    os.makedirs("./" + config.TRAINED_MODEL_DIR)
if not os.path.exists("./" + config.TENSORBOARD_LOG_DIR):
    os.makedirs("./" + config.TENSORBOARD_LOG_DIR)
if not os.path.exists("./" + config.RESULTS_DIR):
    os.makedirs("./" + config.RESULTS_DIR)

<a id='2'></a>
# Part 3. Download Stock Data from Yahoo Finance
Yahoo Finance provides stock data, financial news, financial reports, etc. Yahoo Finance is free.
* FinRL uses a class **YahooDownloader** in FinRL-Meta to fetch data via Yahoo Finance API
* Call Limit: Using the Public API (without authentication), you are limited to 2,000 requests per hour per IP (or up to a total of 48,000 requests a day).

In [22]:
#!pip install tqdm
from tqdm import tqdm
api = DataLoader()
# api.login(user_id='user_id',password='password')
start_date= '2019-01-01'
end_date= '2021-12-31'
token='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMi0wOC0zMCAxMjo0ODozNiIsInVzZXJfaWQiOiJza2lkYnlhbmR5IiwiaXAiOiIxMjUuMjI0LjE5Ni4xNzkifQ.tjSLRvXZo4BQIp7pcbysYFnhJ5yPiefSh7N0nMq_jQ4'
api.login_by_token(api_token= token)
sid="2330"
listofsid=["2330","1101","1216","1301","1303","1326","1590","2002","2207","2227","2303","2308","2327","2352","2357","2379","2382","2395","2408","2409","2412","2454","2801","2880","2881","2882","2883","2884","2885","2886","2887","2891","2892","2912","3008","3034","3037","3045","3711","4904","5871","5876","5880","6415","6505","8046","9910"]
for sid in tqdm(listofsid):
  dftemp1 = api.taiwan_stock_financial_statement(
      stock_id=sid,
      start_date = start_date,
      end_date= end_date
  )
  #dftemp1.head()
  dftemp1=dftemp1.pivot_table(index='date',columns ='type')
  dftemp1=dftemp1.sort_index()
  dftemp1.columns = dftemp1.columns.droplevel()
  dftemp1['date']=dftemp1.index
  dftemp1=dftemp1.reset_index(drop=True)
  list(dftemp1.columns)
  dftemp1.head()
  dftemp2=api.taiwan_stock_balance_sheet(
      stock_id=sid,
      start_date = start_date,
      end_date= end_date
  )
  dftemp2=dftemp2.pivot_table(index='date',columns ='type')
  dftemp2=dftemp2.sort_index()
  dftemp2.columns = dftemp2.columns.droplevel()
  dftemp2['date']=dftemp2.index
  dftemp2=dftemp2.reset_index(drop=True)
  list(dftemp2.columns)
  dftemp3=api.taiwan_stock_dividend(
      stock_id=sid,
      start_date = start_date,
      end_date= end_date
  )
  #dftemp3=dftemp3.pivot_table(index='date',columns ='type')
  #dftemp3=dftemp3.sort_index()
  #dftemp3.columns = dftemp3.columns.droplevel()
  list(dftemp3.columns)
  dftemp4=pd.merge(dftemp1, dftemp2, on='date',how='outer')
  dftemp4=pd.merge(dftemp4, dftemp3, on='date', how='outer')
  dftemp4['tic']=sid
  if sid=="2330":
    dftemp5=dftemp4
  else:  
    dftemp5=pd.concat([dftemp5,dftemp4])
  #########################################################
  dftemp0 = api.taiwan_stock_daily(
    stock_id=sid,
    start_date=start_date,
    end_date=end_date
  )
  dftemp0 = dftemp0.rename(columns={
    'date':'date', # Date
    'stock_id':'tic', # Quarterly operating income
    'Trading_money':'volume', # Quartely revenue
    'max':'high', # Quartely net income
    'min':'low', # Assets
  })
  if sid=="2330":
    df=dftemp0
  else:  
    df=pd.concat([df,dftemp0])
df['date']= pd.to_datetime(df['date'])

100%|██████████| 47/47 [01:49<00:00,  2.34s/it]

In [9]:
#@title clear var
df=None
dftemp0=None
dftemp1=None
dftemp2=None
dftemp3=None
dftemp4=None
dftemp5=None
dftemp6=None

In [24]:
dftemp5=dftemp5.sort_values(by=['date','tic'])
with pd.option_context('display.max_rows', None):
  display(dftemp5[['CurrentAssets','tic','date']])

    CurrentAssets   tic        date
0    1.206494e+11  1101  2019-03-31
0    1.661757e+11  1216  2019-03-31
0    1.862173e+11  1301  2019-03-31
0    2.060809e+11  1303  2019-03-31
0    2.546216e+11  1326  2019-03-31
0    1.497964e+10  1590  2019-03-31
0    1.769520e+11  2002  2019-03-31
0    1.580943e+11  2207  2019-03-31
0    8.306441e+09  2227  2019-03-31
0    1.467960e+11  2303  2019-03-31
0    1.578329e+11  2308  2019-03-31
0    6.238644e+10  2327  2019-03-31
0    9.913248e+11  2330  2019-03-31
0    6.864160e+10  2352  2019-03-31
0    2.384443e+11  2357  2019-03-31
0    5.400133e+10  2379  2019-03-31
0    5.500609e+11  2382  2019-03-31
0    2.694790e+10  2395  2019-03-31
0    8.627538e+10  2408  2019-03-31
8    1.446848e+11  2409  2019-03-31
0    9.823156e+10  2412  2019-03-31
0    2.535044e+11  2454  2019-03-31
0             NaN  2801  2019-03-31
0             NaN  2880  2019-03-31
0             NaN  2881  2019-03-31
0             NaN  2882  2019-03-31
0             NaN  2883  2019-03-31
0             NaN  2884  2019-03-31
0             NaN  2885  2019-03-31
0             NaN  2886  2019-03-31
0             NaN  2887  2019-03-31
0             NaN  2891  2019-03-31
0             NaN  2892  2019-03-31
0    7.239327e+10  2912  2019-03-31
8    1.055263e+11  3008  2019-03-31
8    4.169038e+10  3034  2019-03-31
0    4.428262e+10  3037  2019-03-31
0    2.860436e+10  3045  2019-03-31
0    1.888328e+11  3711  2019-03-31
0    2.411871e+10  4904  2019-03-31
0    3.153806e+11  5871  2019-03-31
0             NaN  5876  2019-03-31
0             NaN  5880  2019-03-31
0    7.330899e+09  6415  2019-03-31
0    2.498573e+11  6505  2019-03-31
0    2.176840e+10  8046  2019-03-31
0    1.891542e+10  9910  2019-03-31
12            NaN  6505  2019-06-26
1    1.241563e+11  1101  2019-06-30
1    1.723463e+11  1216  2019-06-30
1    1.970534e+11  1301  2019-06-30
1    2.256825e+11  1303  2019-06-30
1    2.594703e+11  1326  2019-06-30
1    1.581324e+10  1590  2019-06-30
1    1.899857e+11  2002  2019-06-30
1    1.663898e+11  2207  2019-06-30
1    1.534463e+10  2227  2019-06-30
1    1.505070e+11  2303  2019-06-30
1    1.592314e+11  2308  2019-06-30
1    5.677432e+10  2327  2019-06-30
1    1.010179e+12  2330  2019-06-30
1    6.860291e+10  2352  2019-06-30
1    2.320134e+11  2357  2019-06-30
1    6.147424e+10  2379  2019-06-30
1    5.911039e+11  2382  2019-06-30
1    2.989270e+10  2395  2019-06-30
1    8.959856e+10  2408  2019-06-30
9    1.545843e+11  2409  2019-06-30
1    1.104624e+11  2412  2019-06-30
1    2.828761e+11  2454  2019-06-30
1             NaN  2801  2019-06-30
1             NaN  2880  2019-06-30
1             NaN  2881  2019-06-30
1             NaN  2882  2019-06-30
1             NaN  2883  2019-06-30
1             NaN  2884  2019-06-30
1             NaN  2885  2019-06-30
1             NaN  2886  2019-06-30
1             NaN  2887  2019-06-30
1             NaN  2891  2019-06-30
1             NaN  2892  2019-06-30
1    7.582843e+10  2912  2019-06-30
9    1.109555e+11  3008  2019-06-30
9    4.297215e+10  3034  2019-06-30
1    4.900637e+10  3037  2019-06-30
1    2.709651e+10  3045  2019-06-30
1    1.916632e+11  3711  2019-06-30
1    3.070458e+10  4904  2019-06-30
1    3.273616e+11  5871  2019-06-30
1             NaN  5876  2019-06-30
1             NaN  5880  2019-06-30
1    8.138512e+09  6415  2019-06-30
1    2.606420e+11  6505  2019-06-30
1    2.285966e+10  8046  2019-06-30
1    1.988067e+10  9910  2019-06-30
12            NaN  1326  2019-07-02
12            NaN  2882  2019-07-07
12            NaN  1301  2019-07-08
12            NaN  2308  2019-07-08
12            NaN  2885  2019-07-08
12            NaN  1303  2019-07-09
12            NaN  2408  2019-07-10
12            NaN  2883  2019-07-10
12            NaN  2881  2019-07-12
12            NaN  2357  2019-07-14
12            NaN  2454  2019-07-14
12            NaN  5876  2019-07-14
12            NaN  2395  2019-07-15
12            NaN  3045  2019-07-15
12            NaN  8046  2019-07-15
12            NaN  2409  2019-07-19
12            NaN  3034  2019-07-20
12            NaN  2891  2019-07-21
12            NaN  2207  2019-07-22
12            NaN  2303  2019-07-22
12            NaN  4904  2019-07-22
12            NaN  6415  2019-07-22
12            NaN  9910  2019-07-29
12            NaN  2352  2019-07-30
12            NaN  2412  2019-07-31
12            NaN  2002  2019-08-01
12            NaN  2884  2019-08-02
12            NaN  2382  2019-08-04
12            NaN  3037  2019-08-04
12            NaN  2912  2019-08-06
12            NaN  5871  2019-08-06
12            NaN  1216  2019-08-09
12            NaN  2801  2019-08-12
12            NaN  3008  2019-08-12
12            NaN  2886  2019-08-17
12            NaN  2892  2019-08-17
12            NaN  2887  2019-08-18
12            NaN  1101  2019-08-19
12            NaN  3711  2019-08-19
12            NaN  5880  2019-08-20
12            NaN  2880  2019-08-23
12            NaN  2227  2019-08-27
12            NaN  2327  2019-09-01
12            NaN  1590  2019-09-09
12            NaN  2379  2019-09-11
12            NaN  2330  2019-09-25
2    1.130842e+11  1101  2019-09-30
2    1.724438e+11  1216  2019-09-30
2    1.686875e+11  1301  2019-09-30
2    1.954822e+11  1303  2019-09-30
2    2.249556e+11  1326  2019-09-30
2    1.630209e+10  1590  2019-09-30
2    1.761440e+11  2002  2019-09-30
2    1.666371e+11  2207  2019-09-30
2    1.560502e+10  2227  2019-09-30
2    1.634905e+11  2303  2019-09-30
2    1.553452e+11  2308  2019-09-30
2    5.040910e+10  2327  2019-09-30
2    8.494274e+11  2330  2019-09-30
2    7.471013e+10  2352  2019-09-30
2    2.360755e+11  2357  2019-09-30
2    6.520174e+10  2379  2019-09-30
2    5.525240e+11  2382  2019-09-30
2    2.544822e+10  2395  2019-09-30
2    7.220381e+10  2408  2019-09-30
10   1.450246e+11  2409  2019-09-30
2    9.133973e+10  2412  2019-09-30
2    2.782315e+11  2454  2019-09-30
2             NaN  2801  2019-09-30
2             NaN  2880  2019-09-30
2             NaN  2881  2019-09-30
2             NaN  2882  2019-09-30
2             NaN  2883  2019-09-30
2             NaN  2884  2019-09-30
2             NaN  2885  2019-09-30
2             NaN  2886  2019-09-30
2             NaN  2887  2019-09-30
2             NaN  2891  2019-09-30
2             NaN  2892  2019-09-30
2    7.850917e+10  2912  2019-09-30
10   1.074120e+11  3008  2019-09-30
10   3.922884e+10  3034  2019-09-30
2    5.169750e+10  3037  2019-09-30
2    3.422867e+10  3045  2019-09-30
2    2.124445e+11  3711  2019-09-30
2    2.527082e+10  4904  2019-09-30
2    3.405149e+11  5871  2019-09-30
2             NaN  5876  2019-09-30
2             NaN  5880  2019-09-30
2    8.051006e+09  6415  2019-09-30
2    2.227014e+11  6505  2019-09-30
2    2.231694e+10  8046  2019-09-30
2    1.895031e+10  9910  2019-09-30
13            NaN  2330  2019-12-25
3    1.181460e+11  1101  2019-12-31
3    1.628276e+11  1216  2019-12-31
3    1.756169e+11  1301  2019-12-31
3    1.874763e+11  1303  2019-12-31
3    2.261826e+11  1326  2019-12-31
3    1.674195e+10  1590  2019-12-31
3    1.646294e+11  2002  2019-12-31
3    1.726089e+11  2207  2019-12-31
3    1.499711e+10  2227  2019-12-31
3    1.537571e+11  2303  2019-12-31
3    1.475582e+11  2308  2019-12-31
3    3.714754e+10  2327  2019-12-31
3    8.226139e+11  2330  2019-12-31
3    7.833275e+10  2352  2019-12-31
3    2.401838e+11  2357  2019-12-31
3    6.428959e+10  2379  2019-12-31
3    5.527452e+11  2382  2019-12-31
3    2.747407e+10  2395  2019-12-31
3    7.286263e+10  2408  2019-12-31
11   1.432002e+11  2409  2019-12-31
3    9.407206e+10  2412  2019-12-31
3    2.667291e+11  2454  2019-12-31
3             NaN  2801  2019-12-31
3             NaN  2880  2019-12-31
3             NaN  2881  2019-12-31
3             NaN  2882  2019-12-31
3             NaN  2883  2019-12-31
3             NaN  2884  2019-12-31
3             NaN  2885  2019-12-31
3             NaN  2886  2019-12-31
3             NaN  2887  2019-12-31
3             NaN  2891  2019-12-31
3             NaN  2892  2019-12-31
3    7.423380e+10  2912  2019-12-31
11   1.116301e+11  3008  2019-12-31
11   3.800236e+10  3034  2019-12-31
3    4.996215e+10  3037  2019-12-31
3    2.990570e+10  3045  2019-12-31
3    2.020011e+11  3711  2019-12-31
3    2.725722e+10  4904  2019-12-31
3    3.671172e+11  5871  2019-12-31
3             NaN  5876  2019-12-31
3             NaN  5880  2019-12-31
3    9.606901e+09  6415  2019-12-31
3    2.264926e+11  6505  2019-12-31
3    2.135083e+10  8046  2019-12-31
3    1.980028e+10  9910  2019-12-31
14            NaN  2330  2020-03-25
4    9.808279e+10  1101  2020-03-31
4    1.617298e+11  1216  2020-03-31
4    1.509870e+11  1301  2020-03-31
4    1.811068e+11  1303  2020-03-31
4    2.015364e+11  1326  2020-03-31
4    1.712005e+10  1590  2020-03-31
4    1.597816e+11  2002  2020-03-31
4    1.768486e+11  2207  2020-03-31
4    1.377648e+10  2227  2020-03-31
4    1.595946e+11  2303  2020-03-31
4    1.427047e+11  2308  2020-03-31
4    4.603399e+10  2327  2020-03-31
4    8.024700e+11  2330  2020-03-31
4    7.542893e+10  2352  2020-03-31
4    2.161511e+11  2357  2020-03-31
4    6.625042e+10  2379  2020-03-31
4    4.922343e+11  2382  2020-03-31
4    2.900300e+10  2395  2020-03-31
4    7.715934e+10  2408  2020-03-31
0    1.395176e+11  2409  2020-03-31
4    7.536760e+10  2412  2020-03-31
4    2.652766e+11  2454  2020-03-31
4             NaN  2801  2020-03-31
4             NaN  2880  2020-03-31
4             NaN  2881  2020-03-31
4             NaN  2882  2020-03-31
4             NaN  2883  2020-03-31
4             NaN  2884  2020-03-31
4             NaN  2885  2020-03-31
4             NaN  2886  2020-03-31
4             NaN  2887  2020-03-31
4             NaN  2891  2020-03-31
4             NaN  2892  2020-03-31
4    7.205388e+10  2912  2020-03-31
0    1.173374e+11  3008  2020-03-31
0    4.304083e+10  3034  2020-03-31
4    5.075146e+10  3037  2020-03-31
4    3.068556e+10  3045  2020-03-31
4    2.166147e+11  3711  2020-03-31
4    2.314116e+10  4904  2020-03-31
4    3.810583e+11  5871  2020-03-31
4             NaN  5876  2020-03-31
4             NaN  5880  2020-03-31
4    9.020339e+09  6415  2020-03-31
4    1.957376e+11  6505  2020-03-31
4    2.135737e+10  8046  2020-03-31
4    2.050730e+10  9910  2020-03-31
13            NaN  6505  2020-06-23
15            NaN  2330  2020-06-24
13            NaN  2327  2020-06-28
13            NaN  5871  2020-06-29
5    1.251332e+11  1101  2020-06-30
5    1.727538e+11  1216  2020-06-30
5    1.725997e+11  1301  2020-06-30
5    1.976265e+11  1303  2020-06-30
5    2.124787e+11  1326  2020-06-30
5    1.790077e+10  1590  2020-06-30
5    1.507851e+11  2002  2020-06-30
5    1.835529e+11  2207  2020-06-30
5    1.404595e+10  2227  2020-06-30
5    1.679545e+11  2303  2020-06-30
5    1.581254e+11  2308  2020-06-30
5    7.092432e+10  2327  2020-06-30
5    8.600316e+11  2330  2020-06-30
5    7.966978e+10  2352  2020-06-30
5    2.490851e+11  2357  2020-06-30
5    7.107849e+10  2379  2020-06-30
5    5.357250e+11  2382  2020-06-30
5    3.243467e+10  2395  2020-06-30
5    8.147352e+10  2408  2020-06-30
1    1.425586e+11  2409  2020-06-30
5    8.218491e+10  2412  2020-06-30
5    2.672601e+11  2454  2020-06-30
5             NaN  2801  2020-06-30
5             NaN  2880  2020-06-30
5             NaN  2881  2020-06-30
5             NaN  2882  2020-06-30
5             NaN  2883  2020-06-30
5             NaN  2884  2020-06-30
5             NaN  2885  2020-06-30
5             NaN  2886  2020-06-30
5             NaN  2887  2020-06-30
5             NaN  2891  2020-06-30
5             NaN  2892  2020-06-30
5    8.068853e+10  2912  2020-06-30
1    1.201490e+11  3008  2020-06-30
1    4.515758e+10  3034  2020-06-30
5    5.253950e+10  3037  2020-06-30
5    3.026651e+10  3045  2020-06-30
5    2.025135e+11  3711  2020-06-30
5    3.243055e+10  4904  2020-06-30
5    3.897708e+11  5871  2020-06-30
5             NaN  5876  2020-06-30
5             NaN  5880  2020-06-30
5    9.531203e+09  6415  2020-06-30
5    1.896645e+11  6505  2020-06-30
5    2.155549e+10  8046  2020-06-30
5    1.780486e+10  9910  2020-06-30
13            NaN  2357  2020-07-04
13            NaN  2885  2020-07-05
13            NaN  1326  2020-07-07
13            NaN  2881  2020-07-07
13            NaN  2882  2020-07-07
13            NaN  1301  2020-07-08
13            NaN  2308  2020-07-08
13            NaN  2408  2020-07-08
13            NaN  2412  2020-07-08
13            NaN  2454  2020-07-12
13            NaN  2883  2020-07-12
13            NaN  1303  2020-07-13
13            NaN  8046  2020-07-15
13            NaN  2891  2020-07-19
13            NaN  3034  2020-07-19
13            NaN  2207  2020-07-20
13            NaN  4904  2020-07-20
13            NaN  2303  2020-07-21
13            NaN  3037  2020-07-21
13            NaN  5876  2020-07-24
13            NaN  3045  2020-07-25
13            NaN  6415  2020-07-27
13            NaN  2352  2020-07-30
13            NaN  2002  2020-08-01
13            NaN  2884  2020-08-03
13            NaN  2395  2020-08-08
13            NaN  2382  2020-08-09
13            NaN  2912  2020-08-11
13            NaN  1216  2020-08-14
13            NaN  2892  2020-08-15
13            NaN  2801  2020-08-17
13            NaN  2887  2020-08-17
13            NaN  3008  2020-08-17
13            NaN  1101  2020-08-18
13            NaN  2227  2020-08-18
13            NaN  5880  2020-08-18
13            NaN  2886  2020-08-19
13            NaN  3711  2020-08-19
13            NaN  2880  2020-08-21
13            NaN  9910  2020-08-24
13            NaN  1590  2020-09-10
13            NaN  2379  2020-09-14
16            NaN  2330  2020-09-23
6    1.145535e+11  1101  2020-09-30
6    1.729625e+11  1216  2020-09-30
6    1.413271e+11  1301  2020-09-30
6    1.883604e+11  1303  2020-09-30
6    1.887961e+11  1326  2020-09-30
6    1.600212e+10  1590  2020-09-30
6    1.405351e+11  2002  2020-09-30
6    1.852781e+11  2207  2020-09-30
6    1.199466e+10  2227  2020-09-30
6    1.634769e+11  2303  2020-09-30
6    1.671073e+11  2308  2020-09-30
6    6.930696e+10  2327  2020-09-30
6    1.029674e+12  2330  2020-09-30
6    9.496750e+10  2352  2020-09-30
6    2.685601e+11  2357  2020-09-30
6    7.033459e+10  2379  2020-09-30
6    5.696312e+11  2382  2020-09-30
6    2.774535e+10  2395  2020-09-30
6    7.610422e+10  2408  2020-09-30
2    1.558458e+11  2409  2020-09-30
6    7.515308e+10  2412  2020-09-30
6    2.699469e+11  2454  2020-09-30
6             NaN  2801  2020-09-30
6             NaN  2880  2020-09-30
6             NaN  2881  2020-09-30
6             NaN  2882  2020-09-30
6             NaN  2883  2020-09-30
6             NaN  2884  2020-09-30
6             NaN  2885  2020-09-30
6             NaN  2886  2020-09-30
6             NaN  2887  2020-09-30
6             NaN  2891  2020-09-30
6             NaN  2892  2020-09-30
6    7.716240e+10  2912  2020-09-30
2    1.087877e+11  3008  2020-09-30
2    3.980272e+10  3034  2020-09-30
6    5.326972e+10  3037  2020-09-30
6    3.205014e+10  3045  2020-09-30
6    2.336403e+11  3711  2020-09-30
6    2.188164e+10  4904  2020-09-30
6    4.100286e+11  5871  2020-09-30
6             NaN  5876  2020-09-30
6             NaN  5880  2020-09-30
6    1.105242e+10  6415  2020-09-30
6    1.829116e+11  6505  2020-09-30
6    2.101803e+10  8046  2020-09-30
6    1.940384e+10  9910  2020-09-30
17            NaN  2330  2020-12-23
7    1.243092e+11  1101  2020-12-31
7    1.680538e+11  1216  2020-12-31
7    1.656358e+11  1301  2020-12-31
7    2.088378e+11  1303  2020-12-31
7    2.158650e+11  1326  2020-12-31
7    1.664891e+10  1590  2020-12-31
7    1.413379e+11  2002  2020-12-31
7    2.007957e+11  2207  2020-12-31
7    8.299093e+09  2227  2020-12-31
7    1.643059e+11  2303  2020-12-31
7    1.748869e+11  2308  2020-12-31
7    6.993942e+10  2327  2020-12-31
7    1.092185e+12  2330  2020-12-31
7    1.023238e+11  2352  2020-12-31
7    2.605847e+11  2357  2020-12-31
7    6.681191e+10  2379  2020-12-31
7    6.046377e+11  2382  2020-12-31
7    3.028754e+10  2395  2020-12-31
7    7.674460e+10  2408  2020-12-31
3    1.683177e+11  2409  2020-12-31
7    8.180306e+10  2412  2020-12-31
7    2.918623e+11  2454  2020-12-31
7             NaN  2801  2020-12-31
7             NaN  2880  2020-12-31
7             NaN  2881  2020-12-31
7             NaN  2882  2020-12-31
7             NaN  2883  2020-12-31
7             NaN  2884  2020-12-31
7             NaN  2885  2020-12-31
7             NaN  2886  2020-12-31
7             NaN  2887  2020-12-31
7             NaN  2891  2020-12-31
7             NaN  2892  2020-12-31
7    7.813639e+10  2912  2020-12-31
3    1.193993e+11  3008  2020-12-31
3    4.495057e+10  3034  2020-12-31
7    5.373138e+10  3037  2020-12-31
7    3.209279e+10  3045  2020-12-31
7    2.240129e+11  3711  2020-12-31
7    2.515246e+10  4904  2020-12-31
7    4.379844e+11  5871  2020-12-31
7             NaN  5876  2020-12-31
7             NaN  5880  2020-12-31
7    1.303561e+10  6415  2020-12-31
7    2.153098e+11  6505  2020-12-31
7    2.325647e+10  8046  2020-12-31
7    2.180771e+10  9910  2020-12-31
18            NaN  2330  2021-03-23
8    1.307090e+11  1101  2021-03-31
8    1.679211e+11  1216  2021-03-31
8    1.839390e+11  1301  2021-03-31
8    2.248528e+11  1303  2021-03-31
8    2.397387e+11  1326  2021-03-31
8    1.758764e+10  1590  2021-03-31
8    1.573576e+11  2002  2021-03-31
8    2.130080e+11  2207  2021-03-31
8    8.787589e+09  2227  2021-03-31
8    1.790831e+11  2303  2021-03-31
8    1.787588e+11  2308  2021-03-31
8    9.106019e+10  2327  2021-03-31
8    1.139787e+12  2330  2021-03-31
8    1.008654e+11  2352  2021-03-31
8    2.920240e+11  2357  2021-03-31
8    7.066473e+10  2379  2021-03-31
8    5.906845e+11  2382  2021-03-31
8    3.299653e+10  2395  2021-03-31
8    8.305262e+10  2408  2021-03-31
4    1.912755e+11  2409  2021-03-31
8    8.841279e+10  2412  2021-03-31
8    3.301555e+11  2454  2021-03-31
8             NaN  2801  2021-03-31
8             NaN  2880  2021-03-31
8             NaN  2881  2021-03-31
8             NaN  2882  2021-03-31
8             NaN  2883  2021-03-31
8             NaN  2884  2021-03-31
8             NaN  2885  2021-03-31
8             NaN  2886  2021-03-31
8             NaN  2887  2021-03-31
8             NaN  2891  2021-03-31
8             NaN  2892  2021-03-31
8    7.589718e+10  2912  2021-03-31
4    1.251390e+11  3008  2021-03-31
4    5.534723e+10  3034  2021-03-31
8    5.267609e+10  3037  2021-03-31
8    3.168773e+10  3045  2021-03-31
8    2.422014e+11  3711  2021-03-31
8    2.274209e+10  4904  2021-03-31
8    4.486378e+11  5871  2021-03-31
8             NaN  5876  2021-03-31
8             NaN  5880  2021-03-31
8    1.412087e+10  6415  2021-03-31
8    2.459304e+11  6505  2021-03-31
8    2.314754e+10  8046  2021-03-31
8    2.184390e+10  9910  2021-03-31
14            NaN  1590  2021-06-22
19            NaN  2330  2021-06-23
9    1.339139e+11  1101  2021-06-30
9    1.801616e+11  1216  2021-06-30
9    1.832598e+11  1301  2021-06-30
9    2.422441e+11  1303  2021-06-30
9    2.443484e+11  1326  2021-06-30
9    1.801191e+10  1590  2021-06-30
9    1.715908e+11  2002  2021-06-30
9    2.279706e+11  2207  2021-06-30
9    8.210027e+09  2227  2021-06-30
9    2.078333e+11  2303  2021-06-30
9    1.874554e+11  2308  2021-06-30
9    9.470470e+10  2327  2021-06-30
9    1.241104e+12  2330  2021-06-30
9    1.090533e+11  2352  2021-06-30
9    3.140704e+11  2357  2021-06-30
9    8.101872e+10  2379  2021-06-30
9    5.883755e+11  2382  2021-06-30
9    3.592278e+10  2395  2021-06-30
9    9.298740e+10  2408  2021-06-30
5    2.097138e+11  2409  2021-06-30
9    9.886842e+10  2412  2021-06-30
9    3.602558e+11  2454  2021-06-30
9             NaN  2801  2021-06-30
9             NaN  2880  2021-06-30
9             NaN  2881  2021-06-30
9             NaN  2882  2021-06-30
9             NaN  2883  2021-06-30
9             NaN  2884  2021-06-30
9             NaN  2885  2021-06-30
9             NaN  2886  2021-06-30
9             NaN  2887  2021-06-30

In [ ]:
#@title itemrem
'''items = [
    'datadate' date, # Date
    **'tic', tic# Ticker
    'oiadpq', OperatingIncome# Quarterly operating income
    'revtq', Revenue# Quartely revenue
    'niq', NetIncome# Quartely net income
    'atq', TotalAssets# Total asset
    'teqq', *EquityAttributableToOwnersOfParent# Shareholder's equity
    'epspiy', EPS# EPS(Basic) incl. Extraordinary items
    'ceqq', Equity# Common Equity
    'cshoq', OrdinaryShare# Common Shares Outstanding
    'dvpspq', CashEarningsDistribution# Dividends per share
    'actq', TotalAssets# Current assets
    'lctq', CurrentLiabilities# Current liabilities
    'cheq', CashAndCashEquivalents# Cash & Equivalent
    'rectq', AccountsReceivableNet# Recievalbles
    'cogsq', CostOfGoodsSold# Cost of  Goods Sold
    'invtq', Inventories# Inventories
    'apq',AccountsPayable# AccountsPayableAccount payable
    'dlttq', LongtermBorrowings# Long term debt
    'dlcq', *CurrentLiabilities# Debt in current liabilites
    'ltq' Liabilities# Liabilities   
]
'''

In [25]:
items = [
     'date' # Date
    , 'tic'# Ticker
    , 'OperatingIncome'# Quarterly operating income
    , 'Revenue'# Quartely revenue
    , 'NetIncome'# Quartely net income
    , 'TotalAssets'# Total asset
    , 'EquityAttributableToOwnersOfParent_y'#%%Shareholder's equity
    , 'EPS'# EPS(Basic) incl. Extraordinary items
    , 'Equity'# Common Equity
    , 'OrdinaryShare'# Common Shares Outstanding
    , 'CashEarningsDistribution'#' Dividends per share
    , 'CurrentAssets'# Current assets
    , 'CurrentLiabilities'# Current liabilities
    , 'CashAndCashEquivalents'# Cash & Equivalent
    , 'AccountsReceivableNet'#' Recievalbles
    , 'CostOfGoodsSold'# Cost of  Goods Sold
    , 'Inventories'# Inventories
    , 'AccountsPayable'# AccountsPayableAccount payable
    , 'LongtermBorrowings'# Long term debt
    , 'ShorttermBorrowings'#%% Debt in current liabilites
    , 'Liabilities'# Liabilities      
]
fund_data=dftemp5[items]

In [26]:
fund_data = fund_data.rename(columns={
    'CurrentAssets':'cur_assets', # Current assets
    'OperatingIncome':'op_inc_q', # Quarterly operating income
    'Revenue':'rev_q', # Quartely revenue
    'NetIncome':'net_inc_q', # Quartely net income
    'TotalAssets':'tot_assets', # Assets
    'EquityAttributableToOwnersOfParent_y':'sh_equity', # Shareholder's equity
    'EPS':'eps_incl_ex', # EPS(Basic) incl. Extraordinary items
    'Equity':'com_eq', # Common Equity
    'OrdinaryShare':'sh_outstanding', # Common Shares Outstanding
    'CashEarningsDistribution':'div_per_sh', # Dividends per share
    'CurrentLiabilities':'cur_liabilities', # Current liabilities
    'CashAndCashEquivalents':'cash_eq', # Cash & Equivalent
    'AccountsReceivableNet':'receivables', # Receivalbles
    'CostOfGoodsSold':'cogs_q', # Cost of  Goods Sold
    'Inventories':'inventories', # Inventories
    'AccountsPayable': 'payables',# Account payable
    'LongtermBorrowings':'long_debt', # Long term debt
    'ShorttermBorrowings':'short_debt', # Debt in current liabilites
    'Liabilities':'tot_liabilities' # Liabilities   
})
fund_data=fund_data.reset_index()

# Part 4: Preprocess fundamental data
- Import finanical data downloaded from Compustat via WRDS(Wharton Research Data Service)
- Preprocess the dataset and calculate financial ratios
- Add those ratios to the price data preprocessed in Part 3
- Calculate price-related ratios such as P/E and P/B

## 4.1 Import the financial data

## 4.2 Specify items needed to calculate financial ratios
- To learn more about the data description of the dataset, please check WRDS's website(https://wrds-www.wharton.upenn.edu/). Login will be required.

## 4.3 Calculate financial ratios
- For items from Profit/Loss statements, we calculate LTM (Last Twelve Months) and use them to derive profitability related ratios such as Operating Maring and ROE. For items from balance sheets, we use the numbers on the day.
- To check the definitions of the financial ratios calculated here, please refer to CFI's website: https://corporatefinanceinstitute.com/resources/knowledge/finance/financial-ratios/

In [27]:
# Calculate financial ratios
date = pd.to_datetime(fund_data['date'],format='%Y-%m-%d')

tic = fund_data['tic'].to_frame('tic')

# Profitability ratios
# Operating Margin
OPM = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='OPM')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        OPM[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        OPM.iloc[i] = np.nan
    else:
        OPM.iloc[i] = np.sum(fund_data['op_inc_q'].iloc[i-3:i])/np.sum(fund_data['rev_q'].iloc[i-3:i])

# Net Profit Margin        
NPM = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='NPM')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        NPM[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        NPM.iloc[i] = np.nan
    else:
        NPM.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/np.sum(fund_data['rev_q'].iloc[i-3:i])

# Return On Assets
ROA = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='ROA')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        ROA[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        ROA.iloc[i] = np.nan
    else:
        ROA.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/fund_data['tot_assets'].iloc[i]

# Return on Equity
ROE = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='ROE')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        ROE[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        ROE.iloc[i] = np.nan
    else:
        ROE.iloc[i] = np.sum(fund_data['net_inc_q'].iloc[i-3:i])/fund_data['sh_equity'].iloc[i]        

# For calculating valuation ratios in the next subpart, calculate per share items in advance
# Earnings Per Share       
EPS = fund_data['eps_incl_ex'].to_frame('EPS')

# Book Per Share
BPS = (fund_data['com_eq']/fund_data['sh_outstanding']).to_frame('BPS') # Need to check units

#Dividend Per Share
DPS = fund_data['div_per_sh'].to_frame('DPS')

# Liquidity ratios
# Current ratio
cur_ratio = (fund_data['cur_assets']/fund_data['cur_liabilities']).to_frame('cur_ratio')

# Quick ratio
quick_ratio = ((fund_data['cash_eq'] + fund_data['receivables'] )/fund_data['cur_liabilities']).to_frame('quick_ratio')

# Cash ratio
cash_ratio = (fund_data['cash_eq']/fund_data['cur_liabilities']).to_frame('cash_ratio')


# Efficiency ratios
# Inventory turnover ratio
inv_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='inv_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        inv_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        inv_turnover.iloc[i] = np.nan
    else:
        inv_turnover.iloc[i] = np.sum(fund_data['cogs_q'].iloc[i-3:i])/fund_data['inventories'].iloc[i]

# Receivables turnover ratio       
acc_rec_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='acc_rec_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        acc_rec_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        acc_rec_turnover.iloc[i] = np.nan
    else:
        acc_rec_turnover.iloc[i] = np.sum(fund_data['rev_q'].iloc[i-3:i])/fund_data['receivables'].iloc[i]

# Payable turnover ratio
acc_pay_turnover = pd.Series(np.empty(fund_data.shape[0],dtype=object),name='acc_pay_turnover')
for i in range(0, fund_data.shape[0]):
    if i-3 < 0:
        acc_pay_turnover[i] = np.nan
    elif fund_data.iloc[i,1] != fund_data.iloc[i-3,1]:
        acc_pay_turnover.iloc[i] = np.nan
    else:
        acc_pay_turnover.iloc[i] = np.sum(fund_data['cogs_q'].iloc[i-3:i])/fund_data['payables'].iloc[i]
        
## Leverage financial ratios
# Debt ratio
debt_ratio = (fund_data['tot_liabilities']/fund_data['tot_assets']).to_frame('debt_ratio')

# Debt to Equity ratio
debt_to_equity = (fund_data['tot_liabilities']/fund_data['sh_equity']).to_frame('debt_to_equity')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in double_scalars
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in double_scalars
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:77: RuntimeWarning: divide by zero encountered in double_scalars

In [28]:
# Create a dataframe that merges all the ratios
ratios = pd.concat([date,tic,OPM,NPM,ROA,ROE,EPS,BPS,DPS,
                    cur_ratio,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,
                   debt_ratio,debt_to_equity], axis=1)

In [29]:
# Check the ratio data
ratios.head()

,date,tic,OPM,NPM,ROA,ROE,EPS,BPS,DPS,cur_ratio,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity
0,2019-03-31,1101,NaN,NaN,NaN,NaN,0.77,4.114203,NaN,1.569618,0.856229,0.747733,NaN,NaN,NaN,0.425057,0.800328
1,2019-03-31,1216,NaN,NaN,NaN,NaN,0.93,3.215877,NaN,1.066991,0.562885,0.460324,NaN,NaN,NaN,0.608119,2.498886
2,2019-03-31,1301,NaN,NaN,NaN,NaN,1.28,5.873392,NaN,2.954735,0.463908,0.325433,NaN,NaN,NaN,0.273208,0.375910
3,2019-03-31,1303,0.095699,0.10848,0.035023,0.051934,0.64,5.044669,NaN,2.735706,1.073934,0.572262,2.909711,4.926061,16.254009,0.306143,0.453963
4,2019-03-31,1326,0.065,0.090409,0.03506,0.053938,1.46,7.715944,NaN,2.669126,0.432316,0.206153,3.977735,10.740473,20.831531,0.243158,0.374082

In [30]:
ratios.tail()

,date,tic,OPM,NPM,ROA,ROE,EPS,BPS,DPS,cur_ratio,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity
706,2021-12-31,5880,0.267082,0.0,0.0,NaN,0.34,1.785753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
707,2021-12-31,6415,0.276881,0.0,0.0,0.0,14.73,25.623991,NaN,7.711530,5.776935,4.957451,1.87965,16.796456,7.133176,NaN,NaN
708,2021-12-31,6505,0.102753,0.0,0.0,0.0,0.80,3.797697,NaN,4.999538,1.454553,1.113072,0.038897,0.961128,0.122689,NaN,NaN
709,2021-12-31,8046,0.053564,0.0,0.0,0.0,5.50,6.264490,NaN,2.869394,2.298913,1.254657,32.19816,18.193315,50.865289,NaN,NaN
710,2021-12-31,9910,0.07478,0.0,0.0,0.0,1.83,2.253486,NaN,1.456494,0.738070,0.227621,19.420051,23.543847,45.972675,NaN,NaN

## 4.4 Deal with NAs and infinite values
- We replace N/A and infinite values with zero.

In [31]:
# Replace NAs infinite values with zero
final_ratios = ratios.copy()
final_ratios = final_ratios.fillna(0)
final_ratios = final_ratios.replace(np.inf,0)

In [32]:
final_ratios.head()

,date,tic,OPM,NPM,ROA,ROE,EPS,BPS,DPS,cur_ratio,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity
0,2019-03-31,1101,0.000000,0.000000,0.000000,0.000000,0.77,4.114203,0.0,1.569618,0.856229,0.747733,0.000000,0.000000,0.000000,0.425057,0.800328
1,2019-03-31,1216,0.000000,0.000000,0.000000,0.000000,0.93,3.215877,0.0,1.066991,0.562885,0.460324,0.000000,0.000000,0.000000,0.608119,2.498886
2,2019-03-31,1301,0.000000,0.000000,0.000000,0.000000,1.28,5.873392,0.0,2.954735,0.463908,0.325433,0.000000,0.000000,0.000000,0.273208,0.375910
3,2019-03-31,1303,0.095699,0.108480,0.035023,0.051934,0.64,5.044669,0.0,2.735706,1.073934,0.572262,2.909711,4.926061,16.254009,0.306143,0.453963
4,2019-03-31,1326,0.065000,0.090409,0.035060,0.053938,1.46,7.715944,0.0,2.669126,0.432316,0.206153,3.977735,10.740473,20.831531,0.243158,0.374082

In [33]:
final_ratios.tail()

,date,tic,OPM,NPM,ROA,ROE,EPS,BPS,DPS,cur_ratio,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity
706,2021-12-31,5880,0.267082,0.0,0.0,0.0,0.34,1.785753,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
707,2021-12-31,6415,0.276881,0.0,0.0,0.0,14.73,25.623991,0.0,7.711530,5.776935,4.957451,1.879650,16.796456,7.133176,0.0,0.0
708,2021-12-31,6505,0.102753,0.0,0.0,0.0,0.80,3.797697,0.0,4.999538,1.454553,1.113072,0.038897,0.961128,0.122689,0.0,0.0
709,2021-12-31,8046,0.053564,0.0,0.0,0.0,5.50,6.264490,0.0,2.869394,2.298913,1.254657,32.198160,18.193315,50.865289,0.0,0.0
710,2021-12-31,9910,0.074780,0.0,0.0,0.0,1.83,2.253486,0.0,1.456494,0.738070,0.227621,19.420051,23.543847,45.972675,0.0,0.0

In [34]:
df.sort_values(by=['tic'])

,date,tic,Trading_Volume,volume,open,high,low,close,spread,Trading_turnover
729,2021-12-29,1101,5367069,258280450,48.15,48.25,48.05,48.15,0.00,3136
247,2020-01-09,1101,17899047,777095165,43.40,43.60,43.30,43.45,0.05,4299
246,2020-01-08,1101,13465670,583893343,43.15,43.55,43.15,43.40,-0.20,4685
245,2020-01-07,1101,14185347,616059913,43.45,43.60,43.20,43.60,0.15,4739
244,2020-01-06,1101,13867625,602752323,43.50,43.70,43.30,43.45,-0.50,5566
...,...,...,...,...,...,...,...,...,...,...
245,2020-01-07,9910,664515,129697425,194.50,196.00,194.00,195.00,-0.50,502
246,2020-01-08,9910,826704,158572168,192.00,193.50,190.50,191.50,-3.50,672
247,2020-01-09,9910,740551,142843343,192.50,195.00,192.00,193.00,1.50,574
249,2020-01-13,9910,1456726,279487392,192.00,194.50,190.50,190.50,-1.50,1026
730,2021-12-30,9910,396216,91601491,233.00,233.00,230.00,231.50,-2.00,350

In [35]:
df['date']= pd.to_datetime(df['date'])

In [36]:
final_ratios.shape

(711, 17)

## 4.5 Merge stock price data and ratios into one dataframe
- Merge the price dataframe preprocessed in Part 3 and the ratio dataframe created in this part
- Since the prices are daily and ratios are quartely, we have NAs in the ratio columns after merging the two dataframes. We deal with this by backfilling the ratios.

In [37]:
import itertools
list_ticker = df["tic"].unique().tolist()
list_date = list(pd.date_range(df['date'].min(),df['date'].max()))
combination = list(itertools.product(list_date,list_ticker))

# Merge stock price data and ratios into one dataframe
processed_full = pd.DataFrame(combination,columns=["date","tic"]).merge(df,on=["date","tic"],how="left")
processed_full = processed_full.merge(final_ratios,how='left',on=['date','tic'])
processed_full = processed_full.sort_values(['tic','date'])

# Backfill the ratio data to make them daily
processed_full = processed_full.ffill(axis='rows')
processed_full = processed_full.bfill(axis='rows')

## 4.6 Calculate market valuation ratios using daily stock price data

In [38]:
# Calculate P/E, P/B and dividend yield using daily closing price
processed_full['PE'] = processed_full['close']/processed_full['EPS']
processed_full['PB'] = processed_full['close']/processed_full['BPS']
processed_full['Div_yield'] = processed_full['DPS']/processed_full['close']

# Drop per share items used for the above calculation
processed_full = processed_full.drop(columns=['EPS','BPS','DPS'])#delete day
# Replace NAs infinite values with zero
processed_full = processed_full.copy()
processed_full = processed_full.fillna(0)
processed_full = processed_full.replace(np.inf,0)

In [39]:
# Check the final data
processed_full.sort_values(['date','tic'],ignore_index=True).head(10)

,date,tic,Trading_Volume,volume,open,high,low,close,spread,Trading_turnover,...,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity,PE,PB,Div_yield
0,2019-01-02,1101,6566997.0,234262829.0,35.75,35.95,35.5,35.5,-0.10,2572.0,...,0.856229,0.747733,0.000000,0.000000,0.000000,0.425057,0.800328,46.103896,8.628645,0.0
1,2019-01-02,1216,4970267.0,340664448.0,69.30,69.70,68.2,68.3,-1.50,3080.0,...,0.941745,0.815707,0.000000,0.000000,0.000000,0.000000,0.000000,115.762712,18.931704,0.0
2,2019-01-02,1301,7092649.0,701726819.0,100.00,100.50,97.6,97.6,-3.40,3168.0,...,0.572237,0.461501,0.000000,0.000000,0.000000,0.000000,0.000000,97.600000,31.629834,0.0
3,2019-01-02,1303,3904269.0,289067773.0,74.40,75.40,72.8,73.0,-2.50,1985.0,...,0.388649,0.185315,0.000000,0.000000,0.000000,0.000000,0.000000,24.092409,12.092315,0.0
4,2019-01-02,1326,6925220.0,700130400.0,104.00,104.50,99.7,99.7,-5.30,3552.0,...,1.103175,0.600854,3.083156,3.886492,11.424514,0.000000,0.000000,34.143836,19.216635,0.0
5,2019-01-02,1590,795445.0,240106500.0,306.00,306.00,299.0,300.0,-0.50,723.0,...,0.516100,0.267774,4.700998,14.841002,28.121899,0.000000,0.000000,184.049080,39.849059,0.0
6,2019-01-02,2002,9090984.0,218260366.0,24.20,24.20,23.9,24.0,-0.25,3000.0,...,0.609754,0.265496,48.502784,44.788814,226.428555,0.000000,0.000000,2.833530,1.783300,0.0
7,2019-01-02,2207,372892.0,93172432.0,256.00,257.00,246.0,247.0,-8.50,344.0,...,0.189418,0.101999,1.344873,14.437210,7.343191,0.000000,0.000000,192.968750,105.103797,0.0
8,2019-01-02,2227,44060.0,10056706.0,229.00,229.00,227.5,228.5,0.00,42.0,...,0.000000,0.000000,21.780146,0.000000,0.000000,0.000000,0.000000,35.536547,13.983097,0.0
9,2019-01-02,2303,18798696.0,210286552.0,11.30,11.35,11.1,11.1,-0.15,3496.0,...,0.798325,0.791274,0.000000,6741.373326,17839.565729,0.000000,0.000000,4.605809,1.848568,0.0

<a id='4'></a>
# Part 5. A Market Environment in OpenAI Gym-style
The training process involves observing stock price change, taking an action and reward's calculation. By interacting with the market environment, the agent will eventually derive a trading strategy that may maximize (expected) rewards.

Our market environment, based on OpenAI Gym, simulates stock markets with historical market data.

## 5.1 Data Split
- Training data period: 2009-01-01 to 2019-01-01
- Trade data period: 2019-01-01 to 2020-12-31

In [40]:
train_data = data_split(processed_full, '2010-01-01','2019-12-31')
trade_data = data_split(processed_full, '2019-12-31','2021-12-01')
# Check the length of the two datasets
print(len(train_data))
print(len(trade_data))

17061
32947

In [41]:
train_data.head()

,date,tic,Trading_Volume,volume,open,high,low,close,spread,Trading_turnover,...,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity,PE,PB,Div_yield
0,2019-01-02,1101,6566997.0,234262829.0,35.75,35.95,35.5,35.5,-0.1,2572.0,...,0.856229,0.747733,0.000000,0.000000,0.000000,0.425057,0.800328,46.103896,8.628645,0.0
0,2019-01-02,1216,4970267.0,340664448.0,69.30,69.70,68.2,68.3,-1.5,3080.0,...,0.941745,0.815707,0.000000,0.000000,0.000000,0.000000,0.000000,115.762712,18.931704,0.0
0,2019-01-02,1301,7092649.0,701726819.0,100.00,100.50,97.6,97.6,-3.4,3168.0,...,0.572237,0.461501,0.000000,0.000000,0.000000,0.000000,0.000000,97.600000,31.629834,0.0
0,2019-01-02,1303,3904269.0,289067773.0,74.40,75.40,72.8,73.0,-2.5,1985.0,...,0.388649,0.185315,0.000000,0.000000,0.000000,0.000000,0.000000,24.092409,12.092315,0.0
0,2019-01-02,1326,6925220.0,700130400.0,104.00,104.50,99.7,99.7,-5.3,3552.0,...,1.103175,0.600854,3.083156,3.886492,11.424514,0.000000,0.000000,34.143836,19.216635,0.0

In [42]:
trade_data.head()

,date,tic,Trading_Volume,volume,open,high,low,close,spread,Trading_turnover,...,quick_ratio,cash_ratio,inv_turnover,acc_rec_turnover,acc_pay_turnover,debt_ratio,debt_to_equity,PE,PB,Div_yield
0,2019-12-31,1101,8465583.0,369694894.0,43.65,43.8,43.5,43.7,0.05,3374.0,...,0.938052,0.805207,0.000000,0.000000,0.000000,0.432731,0.821033,36.722689,11.876875,0.0
0,2019-12-31,1216,3719123.0,276275997.0,74.00,74.6,74.0,74.2,-0.40,2101.0,...,0.593096,0.490306,0.000000,0.000000,0.000000,0.635557,2.798932,148.400000,24.229465,0.0
0,2019-12-31,1301,2592133.0,259119644.0,100.00,100.5,99.8,99.8,-0.10,1279.0,...,0.286259,0.203464,0.000000,0.000000,0.000000,0.297603,0.423696,203.673469,18.195472,0.0
0,2019-12-31,1303,2800232.0,204022137.0,72.90,73.1,72.8,72.8,-0.40,868.0,...,0.960874,0.522152,3.337619,5.141784,15.242120,0.358961,0.577842,140.000000,16.237666,0.0
0,2019-12-31,1326,3120987.0,274037339.0,88.20,88.3,87.5,87.5,-0.50,1548.0,...,0.357501,0.173290,4.298012,14.006899,27.872431,0.256577,0.396219,336.538462,12.530299,0.0

## 5.2 Set up the training environment

In [43]:
import gym
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from gym import spaces
from gym.utils import seeding
from stable_baselines3.common.vec_env import DummyVecEnv

matplotlib.use("Agg")

# from stable_baselines3.common import logger


class StockTradingEnv(gym.Env):
    """A stock trading environment for OpenAI gym"""

    metadata = {"render.modes": ["human"]}

    def __init__(
        self,
        df,
        stock_dim,
        hmax,
        initial_amount,
        buy_cost_pct,
        sell_cost_pct,
        reward_scaling,
        state_space,
        action_space,
        tech_indicator_list,
        turbulence_threshold=None,
        risk_indicator_col="turbulence",
        make_plots=True,
        print_verbosity=10,
        day=0,
        initial=True,
        previous_state=[],
        model_name="",
        mode="",
        iteration="",
    ):
        self.day = day
        self.df = df
        self.stock_dim = stock_dim
        self.hmax = hmax
        self.initial_amount = initial_amount
        self.buy_cost_pct = buy_cost_pct
        self.sell_cost_pct = sell_cost_pct
        self.reward_scaling = reward_scaling
        self.state_space = state_space
        self.action_space = action_space
        self.tech_indicator_list = tech_indicator_list
        self.action_space = spaces.Box(low=-1, high=1, shape=(self.action_space,))
        self.observation_space = spaces.Box(
            low=-np.inf, high=np.inf, shape=(self.state_space,)
        )
        self.data = self.df.loc[self.day, :]
        self.terminal = False
        self.make_plots = make_plots
        self.print_verbosity = print_verbosity
        self.turbulence_threshold = turbulence_threshold
        self.risk_indicator_col = risk_indicator_col
        self.initial = initial
        self.previous_state = previous_state
        self.model_name = model_name
        self.mode = mode
        self.iteration = iteration
        # initalize state
        self.state = self._initiate_state()

        # initialize reward
        self.reward = 0
        self.turbulence = 0
        self.cost = 0
        self.trades = 0
        self.episode = 0
        # memorize all the total balance change
        self.asset_memory = [self.initial_amount]
        self.rewards_memory = []
        self.actions_memory = []
        self.date_memory = [self._get_date()]
        # self.reset()
        self._seed()

    def _sell_stock(self, index, action):
        def _do_sell_normal():
            if self.state[index + 1] > 0:
                # Sell only if the price is > 0 (no missing data in this particular date)
                # perform sell action based on the sign of the action
                if self.state[index + self.stock_dim + 1] > 0:
                    # Sell only if current asset is > 0
                    sell_num_shares = min(
                        abs(action), self.state[index + self.stock_dim + 1]
                    )
                    sell_amount = (
                        self.state[index + 1]
                        * sell_num_shares
                        * (1 - self.sell_cost_pct)
                    )
                    # update balance
                    self.state[0] += sell_amount

                    self.state[index + self.stock_dim + 1] -= sell_num_shares
                    self.cost += (
                        self.state[index + 1] * sell_num_shares * self.sell_cost_pct
                    )
                    self.trades += 1
                else:
                    sell_num_shares = 0
            else:
                sell_num_shares = 0

            return sell_num_shares

        # perform sell action based on the sign of the action
        if self.turbulence_threshold is not None:
            if self.turbulence >= self.turbulence_threshold:
                if self.state[index + 1] > 0:
                    # Sell only if the price is > 0 (no missing data in this particular date)
                    # if turbulence goes over threshold, just clear out all positions
                    if self.state[index + self.stock_dim + 1] > 0:
                        # Sell only if current asset is > 0
                        sell_num_shares = self.state[index + self.stock_dim + 1]
                        sell_amount = (
                            self.state[index + 1]
                            * sell_num_shares
                            * (1 - self.sell_cost_pct)
                        )
                        # update balance
                        self.state[0] += sell_amount
                        self.state[index + self.stock_dim + 1] = 0
                        self.cost += (
                            self.state[index + 1] * sell_num_shares * self.sell_cost_pct
                        )
                        self.trades += 1
                    else:
                        sell_num_shares = 0
                else:
                    sell_num_shares = 0
            else:
                sell_num_shares = _do_sell_normal()
        else:
            sell_num_shares = _do_sell_normal()

        return sell_num_shares

    def _buy_stock(self, index, action):
        def _do_buy():
            if self.state[index + 1] > 0:
                # Buy only if the price is > 0 (no missing data in this particular date)
                available_amount = self.state[0] // self.state[index + 1]
                #print('available_amount:{}'.format(available_amount))

                # update balance
                buy_num_shares = min(available_amount, action)
                buy_amount = (
                    self.state[index + 1] * buy_num_shares * (1 + self.buy_cost_pct)
                )
                self.state[0] -= buy_amount

                self.state[index + self.stock_dim + 1] += buy_num_shares

                self.cost += self.state[index + 1] * buy_num_shares * self.buy_cost_pct
                self.trades += 1
            else:
                buy_num_shares = 0

            return buy_num_shares

        # perform buy action based on the sign of the action
        if self.turbulence_threshold is None:
            buy_num_shares = _do_buy()
        else:
            if self.turbulence < self.turbulence_threshold:
                buy_num_shares = _do_buy()
            else:
                buy_num_shares = 0
                pass

        return buy_num_shares

    def _make_plot(self):
        plt.plot(self.asset_memory, "r")
        plt.savefig("drive/MyDrive/A2C/account_value_trade_{}.png".format(self.episode))
        plt.close()

    def step(self, actions):
        self.terminal = self.day >= len(self.df.index.unique()) - 1
        if self.terminal:
            # print(f"Episode: {self.episode}")
            if self.make_plots:
                self._make_plot()
            end_total_asset = self.state[0] + sum(
                np.array(self.state[1 : (self.stock_dim + 1)])
                * np.array(self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)])
            )
            df_total_value = pd.DataFrame(self.asset_memory)
            tot_reward = (
                self.state[0]
                + sum(
                    np.array(self.state[1 : (self.stock_dim + 1)])
                    * np.array(
                        self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)]
                    )
                )
                - self.initial_amount
            )
            df_total_value.columns = ["account_value"]
            df_total_value["date"] = self.date_memory
            df_total_value["daily_return"] = df_total_value["account_value"].pct_change(
                1
            )
            if df_total_value["daily_return"].std() != 0:
                sharpe = (
                    (252 ** 0.5)
                    * df_total_value["daily_return"].mean()
                    / df_total_value["daily_return"].std()
                )
            df_rewards = pd.DataFrame(self.rewards_memory)
            df_rewards.columns = ["account_rewards"]
            df_rewards["date"] = self.date_memory[:-1]
            if self.episode % self.print_verbosity == 0:
                print(f"day: {self.day}, episode: {self.episode}")
                print(f"begin_total_asset: {self.asset_memory[0]:0.2f}")
                print(f"end_total_asset: {end_total_asset:0.2f}")
                print(f"total_reward: {tot_reward:0.2f}")
                print(f"total_cost: {self.cost:0.2f}")
                print(f"total_trades: {self.trades}")
                if df_total_value["daily_return"].std() != 0:
                    print(f"Sharpe: {sharpe:0.3f}")
                print("=================================")

            if (self.model_name != "") and (self.mode != ""):
                df_actions = self.save_action_memory()
                df_actions.to_csv(
                    "results/actions_{}_{}_{}.csv".format(
                        self.mode, self.model_name, self.iteration
                    )
                )
                df_total_value.to_csv(
                    "results/account_value_{}_{}_{}.csv".format(
                        self.mode, self.model_name, self.iteration
                    ),
                    index=False,
                )
                df_rewards.to_csv(
                    "results/account_rewards_{}_{}_{}.csv".format(
                        self.mode, self.model_name, self.iteration
                    ),
                    index=False,
                )
                plt.plot(self.asset_memory, "r")
                plt.savefig(
                    "results/account_value_{}_{}_{}.png".format(
                        self.mode, self.model_name, self.iteration
                    ),
                    index=False,
                )
                plt.close()

            # Add outputs to logger interface
            # logger.record("environment/portfolio_value", end_total_asset)
            # logger.record("environment/total_reward", tot_reward)
            # logger.record("environment/total_reward_pct", (tot_reward / (end_total_asset - tot_reward)) * 100)
            # logger.record("environment/total_cost", self.cost)
            # logger.record("environment/total_trades", self.trades)

            return self.state, self.reward, self.terminal, {}

        else:

            actions = actions * self.hmax  # actions initially is scaled between 0 to 1
            actions = actions.astype(
                int
            )  # convert into integer because we can't by fraction of shares
            if self.turbulence_threshold is not None:
                if self.turbulence >= self.turbulence_threshold:
                    actions = np.array([-self.hmax] * self.stock_dim)
            begin_total_asset = self.state[0] + sum(
                np.array(self.state[1 : (self.stock_dim + 1)])
                * np.array(self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)])
            )
            # print("begin_total_asset:{}".format(begin_total_asset))

            argsort_actions = np.argsort(actions)

            sell_index = argsort_actions[: np.where(actions < 0)[0].shape[0]]
            buy_index = argsort_actions[::-1][: np.where(actions > 0)[0].shape[0]]

            for index in sell_index:
                # print(f"Num shares before: {self.state[index+self.stock_dim+1]}")
                # print(f'take sell action before : {actions[index]}')
                actions[index] = self._sell_stock(index, actions[index]) * (-1)
                # print(f'take sell action after : {actions[index]}')
                # print(f"Num shares after: {self.state[index+self.stock_dim+1]}")

            for index in buy_index:
                #print('take buy action: {}'.format(actions[index]))
                actions[index] = self._buy_stock(index, actions[index])

            self.actions_memory.append(actions)

            # state: s -> s+1
            self.day += 1
            self.data = self.df.loc[self.day, :]
            if self.turbulence_threshold is not None:
                if len(self.df.tic.unique()) == 1:
                    self.turbulence = self.data[self.risk_indicator_col]
                elif len(self.df.tic.unique()) > 1:
                    self.turbulence = self.data[self.risk_indicator_col].values[0]
            self.state = self._update_state()

            end_total_asset = self.state[0] + sum(
                np.array(self.state[1 : (self.stock_dim + 1)])
                * np.array(self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)])
            )
            self.asset_memory.append(end_total_asset)
            self.date_memory.append(self._get_date())
            self.reward = end_total_asset - begin_total_asset
            self.rewards_memory.append(self.reward)
            self.reward = self.reward * self.reward_scaling

        return self.state, self.reward, self.terminal, {}

    def reset(self):
        # initiate state
        self.state = self._initiate_state()

        if self.initial:
            self.asset_memory = [self.initial_amount]
        else:
            previous_total_asset = self.previous_state[0] + sum(
                np.array(self.state[1 : (self.stock_dim + 1)])
                * np.array(
                    self.previous_state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)]
                )
            )
            self.asset_memory = [previous_total_asset]

        self.day = 0
        self.data = self.df.loc[self.day, :]
        self.turbulence = 0
        self.cost = 0
        self.trades = 0
        self.terminal = False
        # self.iteration=self.iteration
        self.rewards_memory = []
        self.actions_memory = []
        self.date_memory = [self._get_date()]

        self.episode += 1

        return self.state

    def render(self, mode="human", close=False):
        return self.state

    def _initiate_state(self):
        if self.initial:
            # For Initial State
            if len(self.df.tic.unique()) > 1:
                # for multiple stock
                state = (
                    [self.initial_amount]
                    + self.data.close.values.tolist()
                    + [0] * self.stock_dim
                    + sum(
                        [
                            self.data[tech].values.tolist()
                            for tech in self.tech_indicator_list
                        ],
                        [],
                    )
                )
            else:
                # for single stock
                state = (
                    [self.initial_amount]
                    + [self.data.close]
                    + [0] * self.stock_dim
                    + sum([[self.data[tech]] for tech in self.tech_indicator_list], [])
                )
        else:
            # Using Previous State
            if len(self.df.tic.unique()) > 1:
                # for multiple stock
                state = (
                    [self.previous_state[0]]
                    + self.data.close.values.tolist()
                    + self.previous_state[
                        (self.stock_dim + 1) : (self.stock_dim * 2 + 1)
                    ]
                    + sum(
                        [
                            self.data[tech].values.tolist()
                            for tech in self.tech_indicator_list
                        ],
                        [],
                    )
                )
            else:
                # for single stock
                state = (
                    [self.previous_state[0]]
                    + [self.data.close]
                    + self.previous_state[
                        (self.stock_dim + 1) : (self.stock_dim * 2 + 1)
                    ]
                    + sum([[self.data[tech]] for tech in self.tech_indicator_list], [])
                )
        return state

    def _update_state(self):
        if len(self.df.tic.unique()) > 1:
            # for multiple stock
            state = (
                [self.state[0]]
                + self.data.close.values.tolist()
                + list(self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)])
                + sum(
                    [
                        self.data[tech].values.tolist()
                        for tech in self.tech_indicator_list
                    ],
                    [],
                )
            )

        else:
            # for single stock
            state = (
                [self.state[0]]
                + [self.data.close]
                + list(self.state[(self.stock_dim + 1) : (self.stock_dim * 2 + 1)])
                + sum([[self.data[tech]] for tech in self.tech_indicator_list], [])
            )
        return state

    def _get_date(self):
        if len(self.df.tic.unique()) > 1:
            date = self.data.date.unique()[0]
        else:
            date = self.data.date
        return date

    def save_asset_memory(self):
        date_list = self.date_memory
        asset_list = self.asset_memory
        # print(len(date_list))
        # print(len(asset_list))
        df_account_value = pd.DataFrame(
            {"date": date_list, "account_value": asset_list}
        )
        return df_account_value

    def save_action_memory(self):
        if len(self.df.tic.unique()) > 1:
            # date and close price length must match actions length
            date_list = self.date_memory[:-1]
            df_date = pd.DataFrame(date_list)
            df_date.columns = ["date"]

            action_list = self.actions_memory
            df_actions = pd.DataFrame(action_list)
            df_actions.columns = self.data.tic.values
            df_actions.index = df_date.date
            # df_actions = pd.DataFrame({'date':date_list,'actions':action_list})
        else:
            date_list = self.date_memory[:-1]
            action_list = self.actions_memory
            df_actions = pd.DataFrame({"date": date_list, "actions": action_list})
        return df_actions

    def _seed(self, seed=None):
        self.np_random, seed = seeding.np_random(seed)
        return [seed]

    def get_sb_env(self):
        e = DummyVecEnv([lambda: self])
        obs = e.reset()
        return e, obs

In [ ]:
ratio_list = ['Trading_Volume','spread','OPM', 'NPM','ROA', 'ROE', 'cur_ratio', 'quick_ratio', 'cash_ratio', 'inv_turnover','acc_rec_turnover', 'acc_pay_turnover', 'debt_ratio', 'debt_to_equity',
       'PE', 'PB', 'Div_yield']

stock_dimension = len(train_data.tic.unique())
state_space = 1 + 2*stock_dimension + len(ratio_list)*stock_dimension
print(f"Stock Dimension: {stock_dimension}, State Space: {state_space}")

In [ ]:
# Parameters for the environment
env_kwargs = {
    "hmax": 10, 
    "initial_amount": 100000, 
    "buy_cost_pct": 0.001425,
    "sell_cost_pct": 0.003,
    "state_space": state_space, 
    "stock_dim": stock_dimension, 
    "tech_indicator_list": ratio_list, 
    "action_space": stock_dimension, 
    "reward_scaling": 1e-5
    
}

#Establish the training environment using StockTradingEnv() class
e_train_gym = StockTradingEnv(df = train_data, **env_kwargs)

## Environment for Training

In [ ]:
env_train, _ = e_train_gym.get_sb_env()
print(type(env_train))

<a id='5'></a>
# Part 6: Train DRL Agents
* The DRL algorithms are from **Stable Baselines 3**. Users are also encouraged to try **ElegantRL** and **Ray RLlib**.
* FinRL library includes fine-tuned standard DRL algorithms, such as DQN, DDPG,
Multi-Agent DDPG, PPO, SAC, A2C and TD3. We also allow users to
design their own DRL algorithms by adapting these DRL algorithms.

In [ ]:
# Set up the agent using DRLAgent() class using the environment created in the previous part
agent = DRLAgent(env = env_train)

### Agent Training: 5 algorithms (A2C, DDPG, PPO, TD3, SAC)

### Model 1: PPO

In [ ]:
# agent = DRLAgent(env = env_train)
# PPO_PARAMS = {
#     "n_steps": 2048,
#     "ent_coef": 0.01,
#     "learning_rate": 0.00025,
#     "batch_size": 128,
# }
# model_ppo = agent.get_model("ppo",model_kwargs = PPO_PARAMS)

In [ ]:
# trained_ppo = agent.train_model(model=model_ppo, 
#                              tb_log_name='ppo',
#                              total_timesteps=50000)

### Model 2: DDPG

In [ ]:
agent = DRLAgent(env = env_train)
model_ddpg = agent.get_model("ddpg", model_kwargs={"learning_rate": 0.0001})

In [ ]:
%tensorboard --logdir=logs

In [ ]:
trained_ddpg = agent.train_model(model=model_ddpg,
                             tb_log_name='ddpg',
                             total_timesteps=50000)

### Model 3: A2C

In [ ]:
agent = DRLAgent(env = env_train)
model_a2c = agent.get_model("a2c")

In [ ]:
trained_a2c = agent.train_model(model=model_a2c, 
                             tb_log_name='a2c',
                             total_timesteps=150000)

### Model 4: TD3

In [ ]:
agent = DRLAgent(env = env_train)
TD3_PARAMS = {"batch_size": 100, 
              "buffer_size": 1000000, 
             "learning_rate": 0.001}

model_td3 = agent.get_model("td3",model_kwargs = TD3_PARAMS)

In [ ]:
trained_td3 = agent.train_model(model=model_td3, 
                            tb_log_name='td3',
                            total_timesteps=30000)

### Model 5: SAC

In [ ]:
# agent = DRLAgent(env = env_train)
# SAC_PARAMS = {
#     "batch_size": 128,
#     "buffer_size": 1000000,
#     "learning_rate": 0.0001,
#     "learning_starts": 100,
#     "ent_coef": "auto_0.1",
# }

# model_sac = agent.get_model("sac",model_kwargs = SAC_PARAMS)

In [ ]:
# trained_sac = agent.train_model(model=model_sac, 
#                              tb_log_name='sac',
#                              total_timesteps=80000)

## Trading
Assume that we have $1,000,000 initial capital at 2019-01-01. We use the DDPG model to trade Dow jones 30 stocks.

### Trade

DRL model needs to update periodically in order to take full advantage of the data, ideally we need to retrain our model yearly, quarterly, or monthly. We also need to tune the parameters along the way, in this notebook I only use the in-sample data from 2009-01 to 2018-12 to tune the parameters once, so there is some alpha decay here as the length of trade date extends. 

Numerous hyperparameters – e.g. the learning rate, the total number of samples to train on – influence the learning process and are usually determined by testing some variations.

In [ ]:
env_kwargs = {
    "hmax": 10, 
    "initial_amount": 100000, 
    "buy_cost_pct": 0.001425,
    "sell_cost_pct": 0.003,
    "state_space": state_space, 
    "stock_dim": stock_dimension, 
    "tech_indicator_list": ratio_list, 
    "action_space": stock_dimension, 
    "reward_scaling": 1e-5,
    "day":50
}
#trade_data = data_split(processed_full, '2019-12','2019-12-01')
e_trade_gym = StockTradingEnv(df = trade_data, **env_kwargs)
# env_trade, obs_trade = e_trade_gym.get_sb_env()

In [ ]:
trade_data.head()

In [ ]:
# df_account_value_ppo, df_actions_ppo = DRLAgent.DRL_prediction(
#     model=trained_ppo, 
#     environment = e_trade_gym)

df_account_value_ddpg, df_actions_ddpg = DRLAgent.DRL_prediction(
     model=trained_ddpg, 
     environment = e_trade_gym)

#df_account_value_a2c, df_actions_a2c = DRLAgent.DRL_prediction(
#    model=trained_a2c, 
#    environment = e_trade_gym)

# df_account_value_td3, df_actions_td3 = DRLAgent.DRL_prediction(
#     model=trained_td3, 
#     environment = e_trade_gym)

# df_account_value_sac, df_actions_sac = DRLAgent.DRL_prediction(
#     model=trained_sac, 
#     environment = e_trade_gym)

In [ ]:
e_trade_gym._make_plot()

In [ ]:
# df_account_value_ppo.shape
# df_account_value_ddpg.shape
df_account_value_a2c.shape
# df_account_value_td3.shape
# df_account_value_sac.shape

In [ ]:
df_actions_ddpg

In [ ]:
# df_account_value_ppo.tail()
# df_account_value_ddpg.tail()
df_account_value_ddpg.tail()
# df_account_value_td3.tail()
# df_account_value_sac.tail()

In [ ]:
# df_actions_ppo.head()
# df_actions_ddpg.head()
df_actions_a2c
# df_actions_td3.head()
# df_actions_sac.head()



```
# 此內容會顯示為程式碼

```
# 此內容會顯示為程式碼
```


```

<a id='6'></a>
# Part 7: Backtest Our Strategy
Backtesting plays a key role in evaluating the performance of a trading strategy. Automated backtesting tool is preferred because it reduces the human error. We usually use the Quantopian pyfolio package to backtest our trading strategies. It is easy to use and consists of various individual plots that provide a comprehensive image of the performance of a trading strategy.

<a id='6.1'></a>
## 7.1 BackTestStats
pass in df_account_value, this information is stored in env class

In [ ]:
print("==============Get Backtest Results===========")
now = datetime.datetime.now().strftime('%Y%m%d-%Hh%M')

# print("\n ppo:")
# perf_stats_all_ppo = backtest_stats(account_value=df_account_value_ppo)
# perf_stats_all_ppo = pd.DataFrame(perf_stats_all_ppo)
# perf_stats_all_ppo.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_ppo_"+now+'.csv')

# print("\n a2c:")
# perf_stats_all_a2c = backtest_stats(account_value=df_account_value_a2c)
# perf_stats_all_a2c = pd.DataFrame(perf_stats_all_a2c)
# perf_stats_all_a2c.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_a2c_"+now+'.csv')

print("\n a2c:")
perf_stats_all_ddpg = backtest_stats(account_value=df_account_value_ddpg)
perf_stats_all_ddpg = pd.DataFrame(perf_stats_all_ddpg)
perf_stats_all_ddpg.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_ddpg_"+now+'.csv')

# print("\n atd3:")
# perf_stats_all_td3 = backtest_stats(account_value=df_account_value_td3)
# perf_stats_all_td3 = pd.DataFrame(perf_stats_all_td3)
# perf_stats_all_td3.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_td3_"+now+'.csv')

# print("\n sac:")
# perf_stats_all_sac = backtest_stats(account_value=df_account_value_sac)
# perf_stats_all_sac = pd.DataFrame(perf_stats_all_sac)
# perf_stats_all_sac.to_csv("./"+config.RESULTS_DIR+"/perf_stats_all_sac_"+now+'.csv')

In [ ]:
#baseline stats
print("==============Get Baseline Stats===========")
baseline_df = api.taiwan_stock_daily(
    stock_id='0050',
    start_date='2019-12-31',
    end_date='2021-12-31'
  )
baseline_df =baseline_df.rename(columns={
    'date':'date', # Date
    'stock_id':'tic', # Quarterly operating income
    'Trading_money':'volume', # Quartely revenue
    'max':'high', # Quartely net income
    'min':'low', # Assets
  })
baseline_df['date']=pd.to_datetime(baseline_df['date'])
stats = backtest_stats(baseline_df, value_col_name = 'close')

<a id='6.2'></a>
## 7.2 BackTestPlot

In [ ]:
print("==============Compare to 1101===========")
%matplotlib inline
# S&P 500: ^GSPC
# Dow Jones Index: 2330
# NASDAQ 100: ^NDX

# backtest_plot(df_account_value_ppo, 
#              baseline_ticker = '2330', 
#              baseline_start = '2019-01-01',
#              baseline_end = '2021-01-01')

# backtest_plot(df_account_value_ddpg, 
#              baseline_ticker = '2330', 
#              baseline_start = '2019-01-01',
#              baseline_end = '2021-01-01')
from copy import deepcopy
import pyfolio
account_value=df_account_value_ddpg,
baseline_start = '2019-12-31'
baseline_end = '2020-12-31'
baseline_ticker="0050",
value_col_name="account_value",
baseline_df = api.taiwan_stock_daily(
  stock_id='0050',
  start_date='2019-12-31',
  end_date='2020-12-31'
  )
baseline_df =baseline_df.rename(columns={
  'date':'date', # Date
  'stock_id':'tic', # Quarterly operating income
  'Trading_money':'volume', # Quartely revenue
  'max':'high', # Quartely net income
  'min':'low', # Assets
        })
baseline_df['date']=pd.to_datetime(baseline_df['date'])
baseline_df=baseline_df.set_index("date")
baseline_df=baseline_df.reindex(pd.date_range('2019-12-31','2020-12-31', freq ='D')).bfill()
df=pd.DataFrame(np.squeeze(account_value),columns=['date',"account_value"])
df["date"] = pd.to_datetime(df["date"])
test_returns = pd.Series(df["account_value"].pct_change(1)).bfill().set_axis(df["date"])
baseline_returns = pd.Series(baseline_df["close"].pct_change(1)).bfill().set_axis(baseline_df.index)
with pyfolio.plotting.plotting_context(font_scale=1.1):
  pyfolio.create_full_tear_sheet(
    returns=test_returns, benchmark_rets=baseline_returns, set_context=False
        )

#backtest_plot(df_account_value_a2c, 
#              baseline_ticker = '0050', 
#              baseline_start = '2019-12-31',
#              baseline_end = '2020-12-31')

# backtest_plot(df_account_value_td3, 
#              baseline_ticker = '2330', 
#              baseline_start = '2019-01-01',
#              baseline_end = '2021-01-01')

# backtest_plot(df_account_value_sac, 
#              baseline_ticker = '2330', 
#              baseline_start = '2019-01-01',
#              baseline_end = '2021-01-01')

In [ ]:
pd.Series(baseline_df["close"].pct_change(1)).bfill().set_axis(baseline_df.index)

In [ ]:
baseline_df.reindex(pd.date_range('2019-12-31','2020-12-31', freq ='D')).bfill()

In [ ]:
baseline_df.set_index("date", inplace=True, drop=True)
pd.Series(baseline_df["close"].pct_change(1)).bfill().set_axis(baseline_df['date'])

In [ ]:
pd.Series(df["account_value"].pct_change(1)).set_axis(df["date"])

In [ ]:
df["account_value"].pct_change(1)